@a:#aaa;
@b:#bbb;
@c:#ccc;
@d:#ddd;
@e:#eee;
@f:#fff;
@0:#000;
@3:#333;
@6:#666;
@9:#999;
@f50:#ff0f50;

@wideScreenWidth : 1220px;
@wideMainWidth : 900px;
@wideAsideWidth : 275px;


@ie8-fix:~"\0";

.overflowall(){
    display: block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.content {
    min-height: 600px;
    width: 1220px;
    margin: auto;
}