.header {
	min-width: 1200px;
	height: 100px;
	background: @e;
	border-bottom:1px solid @a;

	h3 {
		&.title {
			width: 400px;
			line-height: 100px;
			font-size: 24px;
			float: left;
		}
	}
	.user_info {
		width: 200px;
		text-align: right;
		line-height: 100px;
		float: right;
		margin-right: 25px;
		font-size: 20px;
		color: @0;
		.user_pic {
			width: 60px;
			height: 60px;
			overflow: hidden;
			border-radius: 50%;
			border:1px solid @d;
			background: @e;
			float: left;
		}
		a {
			color: @0;
		}
		.login {
			margin-right: 15px;
		}
	}

}