/**
 * Created by Muyi on 17/10/11.
 */

@import '../../common';
@import '../../base';

@import './banner';
@import './newlist';
@import './userInfo';

.home {
    .home-news {
        margin-top: 30px;
        .lf {
            width: 950px;
            float: left;
        }
    }
}