/**
 * Created by lgl on 17/10/13.
 */
.home-rankList {
	padding: 40px 0 45px;
	.home-ranklist-inner {
		width: 1220px;
		margin: 0 auto;
		.ranklist {
			float: left;
			border: 1px solid #f1f1f1;
			border-top: none;
			width: 549px;
			padding: 85px 30px 0;
			float: left;
			height: 734px;
			position: relative;
			margin-bottom: 10px;
		}
	}

}