/**
 * Created by lgl on 17/10/13.
 */
.home-songlist {
	.home-songlist-inner {
		.songlists-con {
			.songlist-carousel {
				width: 1220px;
				height: 430px;
				position: relative;
				margin: 0 auto;
					div{
						dl {
							float: left;
							width: 586px;
							margin: 0 24px 24px 0;
							dt {
								width: 178px;
								height: 178px;
								border: 1px solid @e;
								float: left;
								display: block;
								position: relative;
								overflow: hidden;
								img {
									width: 100%;
									height: 100%;
									display: block;
								}
							}
							dd {
								background: @f;
								height: 165px;
								padding: 15px 25px 0;
								overflow: hidden;
								.title-box {
									position: relative;
									padding-bottom: 15px;
									a {
										color: @3;
										font-size: 14px;
									}
									span {
										color: @9;
										margin-left: 7px;
									}
								}
								.show-song {
									padding-top: 10px;
								}
							}
						}
					}



			}

		}
	}

}