/**
 * Created by lgl on 17/10/13.
 */
.home-songlist {
	.home-songlist-inner {
		.songlist-list {
			dl {
				float: left;
				width: 598px;
				margin: 0 24px 24px 0;
				dt {
					width: 178px;
					height: 178px;
					border: 1px solid #eee;
					float: left;
					position: relative;
					overflow: hidden;
					img {
						width: 100%;
						height: 100%;
						display: block;
					}
				}
				dd {

				}
			}

		}
	}

}